@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libertinus+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #9e60d5;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: rgb(94, 59, 127);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rebeccapurple;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(13, 10, 10, 0.2);
}
